@charset "UTF-8";

#mainForm {
	width : 1000px;
	min-height : 100%;
}

#bbsTitleBox {
	font-size: 18px;
	font-weight: bold;
	color: #2E4361;
}

#createArticleCategory {
	width: 15%;
	margin-right: 5px;
}