@charset "UTF-8";

#mainForm {
	width : 1000px;
	min-height : 100%;
}

#bbsTitleBox {
	font-size: 18px;
	font-weight: bold;
	color: #2E4361;
}

#theadTitle {
	width: 65%;
}

#theadDate {
	width: 15%;
}

.bbsBtn {
	background-color: #2E4361;
	cursor: pointer;
}


