@charset "UTF-8";

header {
	background-color: #2E4361;
	height: 43px;
}

#logo {
	margin-right: 10vh;
}

#headerNav {
	min-width: 40vh;
	font-size: 15px;
}

#loginBox {
	margin-left: 10vh;
	font-size: 12px;
	color: #2E4361;
}

#signedUserName {
	min-width: 80px;
	margin-right: 2vh;
	font-size: 15px;	
	font-weight: bold;
}

#loginBtn {
	cursor: pointer;
}

#logoutBtn {
	cursor: pointer;
}

#recommendSignUpBox {
	font-size: 12px;
}

#idDuplicateCheckBtn {
	font-size: 12px;
}

section {
	min-height: calc(100vh - 73px);
	background-color: #E5E4E2;
}

footer {
	background-color: #2E4361;
	position: sticky;
	top: 100vh;
	height: 30px;
	font-size: 12px;
}