@charset "UTF-8";

#mainForm {
	width: 1000px;
	min-height: 100%;
}

#mainForm > .subForm {
	width: 500px;
	height: 400px;
	padding: 5px;
}

thead {
	font-size: 18px;
	font-weight: bold;
}

tbody {
	font-size: 14px;
}

.mainTable:hover {
	background-color: #FAFAFA;
}